<h4>Internal server error - refresh page</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you are seeing this then angulae is probably notot blame</p>
    <p>what to do next</p>
    <ol>
        <li>open the chrome dev tools</li>
        <li>inspect network tab</li>
        <li>check failing request</li>
        <li>examine reuest URL</li>
        <li>reproduce error in Postman</li>
    </ol>
    <p>Following is the stracktrace</p>
    <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
</ng-container>